<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Museek.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>229D07AD1F80CC8A00FD24CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229D07C11F80CC8A00FD24CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229D07CC1F80CC8A00FD24CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
